.footer1
{
        background: #ffcc00;
        color: red;
        size: x-large;
    
        height: 2px;
        float:unset;
          padding: 1px;
          display: flex;
          align-items: center;
          justify-content: left;
          margin: 0;
   
     
}
.SignupBanner
{
 color: #ffcc00;
 width: 100%;
 
}

.bottom
{
    color: b#ffcc00;
}
.ToastettesFooter
{
    color: red;
    font-family: 'Luckiest Guy', cursive;
    size:large;
    background: #ffcc00;
    float:unset;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0;
}
.signup
{
    Background: #ffcc00;
    color: white;
    float:unset;
    padding: 1px;
    display: flex;
    margin: 0;
    text-align: right;
}