.header
{
    color: red;
font-family: 'Luckiest Guy', cursive;
size: 20%;
align-content: center;
text-align: Justify;
}

.topstory
{
    color: rgb(255, 230, 0);
font-family: 'Luckiest Guy', cursive;
size:20%;
align-content: center;
text-align: Justify;
text-align: center;
}

.midstory
{
    color: rgb(255, 230, 0);
    align-content: center;
    text-align: Justify;
    text-align: center;
}

.bottomstory
{
    color: rgb(255, 230, 0);
    align-content: center;
    text-align: Justify;
    text-align: center;
}

.lasttext
{
    color: rgb(255, 230, 0);
    text-align: Justify;
    text-align: center;
}