
<div class= "header">
    <p>Our Story</p>
</div>
<div class = "topstory">
    Mum's humble toastie, a childhood wonder that much like our favourite toys or cartoons 
    is forgotten in a world of grown ups and getting our s**t together
</div>
<div class = "midstory">
    ifoastettes is 􀀄ere to change that, forget superfoods, fad diets or latest food trends it's time to reconnect with happiness, not what's happening. 
    Want to know why our toasties are better than your mums? 
</div>
<div class = "bottomstory">
    We make our own crustless □read (is that even possible?) which seals the toastie into a pocket of perfection. We haven't mentioned the ingredients yet and you're already
     salivating - check out our menu and you'll discover meaiterrian marvels, lucious lamingtons and triple cheese heaven. 
</div>
<div class = "lasttext">
    Toasties bettei than you remember! (sorry mum) 
</div>
<div class = "menulink">
Check out the Menu
</div>



