<div class="container">
  <app-sub-header-with-image title="OUR MENU"></app-sub-header-with-image>
<!--  <div class="menus">-->
<!--    <div class="tile" *ngFor="let tile of tiles" [style.background-image]="tile.backgroundImageUrl">-->

<!--    </div>-->
<!--  </div>-->
<!--  <mat-grid-list [cols]="breakpoint" rowHeight="2:0.5" (window:resize)="onResize($event)">-->
<!--    <mat-grid-tile class="home-tile" *ngFor="let tile of tiles" [colspan]="6" [rowspan]="6">-->
<!--    </mat-grid-tile>-->
<!--  </mat-grid-list>-->
  <div class="menus">
    <div class="floating-title">THE CLASSICS</div>
    <div class="menu-image-container">
      <div  class="block-image">
        <div class="block-title">
          TRIPLE CHEESE
        </div>
      </div>
    </div>
    <div class="menu-image-container">
      <div  class="block-image">
        <div class="block-title">
        HAM & CHEESE
        </div>
      </div>
    </div>
    <div class="menu-image-container">
      <div  class="block-image">
        <div class="block-title">
        TOMATO & CHEESE
        </div>
      </div>
    </div>
    <div class="menu-image-container">
      <div  class="block-image">
        <div class="block-title">
        BACON & EGG
        </div>
      </div>
    </div>
  </div>
  <div class="menus">
    <div class="floating-title">ANY TIME ALL STARS</div>
    <div class="menu-image-container">
      <div  class="block-image">
        <div class="block-title">
          THE SUPREME
        </div>
      </div>
    </div>
    <div class="menu-image-container">
      <div  class="block-image">
        <div class="block-title">
          MEDITERRANEAN
        </div>
      </div>
    </div>
    <div class="menu-image-container">
      <div  class="block-image">
        <div class="block-title">
          LAMB, SPINACH & PEA
        </div>
      </div>
    </div>
    <div class="menu-image-container">
      <div  class="block-image">
        <div class="block-title">
          RED CHICKEN & CORN
        </div>
      </div>
    </div>

    <div class="menu-image-container">
      <div  class="block-image">
        <div class="block-title">
          SPINACH & RICOTTA
        </div>
      </div>
    </div>
    <div class="menu-image-container">
      <div  class="block-image">
        <div class="block-title">
          MAKE YOUR OWN
        </div>
      </div>
    </div>
    <div class="menu-image-container">
      <div  class="block-image">
        <div class="block-title">
          COFFEE
        </div>
      </div>
    </div>
    <div class="menu-image-container">
      <div  class="block-image">
        <div class="block-title">
          MILK SHAKES
        </div>
      </div>
    </div>
  </div>
  <div class="menus">
    <div class="floating-title">SWEETS & TREATS</div>
    <div class="menu-image-container">
      <div  class="block-image">
        <div class="block-title">
          CHOC BANANA
        </div>
      </div>
    </div>
    <div class="menu-image-container">
      <div  class="block-image">
        <div class="block-title">
          APPLE, RAISIN & RICOTTA
        </div>
      </div>
    </div>
    <div class="menu-image-container">
      <div  class="block-image">
        <div class="block-title">
          RASPBERRY FRENCH TOAST
        </div>
      </div>
    </div>
    <div class="menu-image-container">
      <div  class="block-image">
        <div class="block-title">
          LAMINGTON
        </div>
      </div>
    </div>

    <div class="menu-image-container">
      <div  class="block-image">
        <div class="block-title">
          LOLLIES
        </div>
      </div>
    </div>
    <div class="menu-image-container">
      <div  class="block-image">
        <div class="block-title">
          ICED VOVO CAKES
        </div>
      </div>
    </div>
    <div class="menu-image-container">
      <div  class="block-image">
        <div class="block-title">
          BROWNIES
        </div>
      </div>
    </div>
    <div class="menu-image-container">
      <div  class="block-image">
        <div class="block-title">
          SNACKS & DRINKS
        </div>
      </div>
    </div>
  </div>
</div>
