<app-sub-header-with-image title="OUR LOCATION"></app-sub-header-with-image>
<div class="map-and-text-container">
  <div #map id="map"> </div>
  <div class="map-description">
    <p  style="font-weight: bolder">120 Stanmore Rd, Stanmore NSW 2048</p>
    <br/>
    <p style="font-weight: bolder">0413 047 035</p>
    <br/>
    <p>Monday 6AM - 4PM</p>
    <p>Tuesday 6AM - 4PM</p>
    <p>Wednesday 6AM - 4PM</p>
    <p>Thursday 6AM - 4PM</p>
    <p>Friday 6AM - 4PM</p>
    <p>Saturday 8AM - 4PM</p>
    <p>Sunday 8AM - 2PM</p>
  </div>
</div>
