
// /*.navbar-brand {
//   float:unset;
//   padding: 35px;
//   height: 40px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin: 0;


// }*/

// #iconsize {
// 	font-size: 4em;
// 	color: 	 #ffeeb3;
// 	padding:  20px;
// 	float: left;
	
// }


// #navpic {
	
// margin-left: 90%;
// margin-right: auto;
// min-width: 200px;
// max-width: 300px;
// display: flex;

   


// }
// .form-inline button {
// 	margin-left: 10px;
// }



// .no-gutter > [class*='col-'] {
//     padding-right:0px;
//     padding-left:0px;


// }
// .col-xs-12 .col-md-6 .col-sm-6 .col-md-4 .col-sm-4 img {
// 	background-size: cover;
// 	background-position: center;
// }



// .navbar {
// 	background: #ffcc00;
// 	margin-bottom: -1px;

// }
// .form-group {
// 	margin-left: 70%;
// 	margin-right: auto;
// 	margin-top: -53px;
	
// }


// form {
// 	background: #262626;
// 	height: 80px;
// 	display: flex;
// 	flex-wrap: wrap;

// }
// form img {
// 	max-height: 65px;
// 	margin-top: 7px;
// }


// .mainpic {
// 	display: block;
// 	margin: 0;
	
// }

// /*Image grid css*/

// .row {
//   display: block;
//   flex-wrap: wrap;




// }

// html {
// 	height: 100%	
// }




// .but {
// 	padding-top: 20px;
// }




// .btn-default {

// 	background: red;
// 	border: red solid;
// 	color: white;
// }

// .form-control {
// 	background: #e6e6e6;
// }
// footer {
// 	background: #ffcc00;

// 	height: 100px;
// 	float:unset;
//   	padding: 35px;
//   	display: flex;
//   	align-items: center;
//   	justify-content: left;
//  	 margin: 0;
// }

.test1
{
color: red;
font-family: 'Luckiest Guy', cursive;
size:large;
}
